.bars{
 color: #3238a8;
}
.text {
    align-items: center;
    color: #3238a8;
    display: flex;
    justify-content: center;
    /* position: absolute; */
    width: 100%;
    left: 0;
    z-index: 1;
  }
.makeFont{
        font-family: "Times New Roman", Times, serif;
}
.backGround{
    width: 19rem;
    border: none;
    border-radius:1.5;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.backGround1{
    width: auto;
    font-family: Arial;
    font-style: normal;
}
.cardView{
    width:18rem;
    margin-left: 17px;
}