.bars{
 color: #3238a8;
}
.bars:hover{
    color:#2e7ac2;
}
.backGround:hover{
  transform: scale(1.02);
}
.navbar-toggler:hover{
   color: blue;
} 
.text {
    align-items: center;
    color: #3238a8;
    display: flex;
    justify-content: center;
    /* position: absolute; */
    width: 100%;
    left: 0;
    z-index: 1;
  }
  .text:hover{
      color:#2e7ac2 ;
  }

.backGround{
    width: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.body1{
   padding: 5px;
}
.makeFont{
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 22px;
}
.backGround1{
    /* width: auto; */
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    margin: 0px;
    font-weight: bolder;
}
.backGround2{
    /* width: auto; */
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: 18px;
    margin: 0px;
}
.horizon{
    width: 100px;
    width: 100px;
    margin: 0px;
    border-width: 3px;
border-color:#2e7ac2;
}
.cardView{
    display: block;
    /* margin-left: 17px; */
}
.footer1{
    font-size: 15px;
    opacity:0.6;
    font-family: 'Darker Grotesque', sans-serif;
}